.popup__button {
  max-width: 358px;
  height: 50px;
  padding: 0;
  border: 0;
  display: block;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 30px 0 37px;
  transition: opacity .1s linear;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .popup__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 37px 0 25px;
  }
}