.popup__input {
  width: 358px;
  height: 27px;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
}

@media screen and (max-width: 599px) {
  .popup__input {
    width: 238px;
    height: 27px;
  }
}
