.profile {
  margin: 40px 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    margin-top: 42px; 
    margin-left: 19px;
    margin-right: 19px;
    flex-direction: column;
    justify-content: start;
  }
}
