.popup__button {
  width: 358px;
  height: 50px;
  background: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 48px 36px 37px;
  transition: opacity .1s linear;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px;
  }
}
