.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 599px) {
  .profile__container {
    justify-content: start;
  }
}
