.profile__add-button {
  width: 150px;
  height: 50px;
  border: 0;
  padding: 0;
  background-image: url(../../../images/add-button.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity .1s linear;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 896px) {
  .profile__add-button {
    margin-top: 36px;
    max-width: 581px;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .profile__add-button {
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    background-size: 16px;
  }
}
