.element__caption-town {
  margin: 0;
  max-width: 190px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-left: 21px;
  color: #000;  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
