.popup__title {
  margin: 0;
  padding-top: 34px;
  padding-left: 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 599px) {
  .popup__title {
    padding-top: 25px;
    padding-left: 22px;
    font-size: 18px;
    line-height: 22px;
  }
}
