.header {
  margin:0 auto;
  padding-top: 45px;
  max-width: 880px;
  display: flex;
  border-bottom: solid rgb(84, 84, 84, .7);
  border-width: 1px 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 896px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 599px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }
}
