.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 896px) {
  .content {
    max-width: 581px;
  }
}

@media screen and (max-width: 599px) {
  .content {
    max-width: 282px;
  }
}
